{% extends 'layout.html'%}
{%load static%}
{%block meta_tags%}
<!-- Enter meta tag details here -->
{%endblock%}

{%block title%}
 Student Union
{%endblock%}

{%block content%}
<!-- http://127.0.0.1:8000/static/img/bg1.jpg -->
<div class="container-fluid bg-primary vh70">
    
    <div class="container">
        <p class="h1 fw-bold pt-5">Universal Student Union</p>
        <p class="h3 mt-3 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <div class="pt-5 d-flex vh20">
            <button class="btn m-auto bg-black text-white px-4 py-3 rounded-0 custom-btn btn-3">Explore</btn>
        </div>
    </div>
</div>
<!-- section2 -->
 <section class="container-fluid bg-black text-white vh90">
    <div class="container pt-5">
        <p class="h3">Your Leadership Team</p>

        
    </div>
 </section>
{%endblock%}