{% extends 'layout.html'%}

{%block meta_tags%}
<!-- Enter meta tag details here -->
{%endblock%}

{%block title%}
Reset password
{%endblock%}

{%block content%}
<div class="container" style="min-height: 60vh;">

    <div class="row mt-5">
        <div class="col-lg-5">
           <div class="border p-5">
            <p class="h3">Reset Password</p>
            <form action="{%url 'baseapp:reset-password-token' %}" method="post">
                {%csrf_token%}
                <input type="hidden" name="token" value="{{token}}">
                <input type="password" name="password1" class="form-control my-3 py-2 rounded-0" placeholder="Enter the new password." required>
                <input type="password" name="password2" class="form-control my-3 py-2 rounded-0" placeholder="Re-enter the new password." required>
                <button type="submit" class="btn btn-primary bg-black rounded-0 py-3 px-4">Reset</button>
            </form>
           </div>
        </div>
    </div>
</div>
{%endblock%}